* {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 1em; 
}

body {
    font-size: 10pt;
    @import "App.scss";
}

header {
    text-align: center; 
    margin-bottom: 15px;
    h1 {
        padding: 10px;
        text-align: center;
        background-color:#f5f5f5 ;

    }
}

.Dark {
    background-color: #333;
    color: #fff;
}

main {
    display:flex;
}
.Form, .Preview{
    width: 50%;
    padding: 0 15px;
    display: block;
    label{
        strong{
            font-weight: normal;
        }
    }
    input {
        border: 1px solid #ccf;
    }
    
}

form, .Preview, .Form {
    width: 50%;
    display: block;
    padding: 5x;
    font-weight: normal;
    margin-bottom: 50px;
    
}

h2 {
    border-bottom: 2px solid #ccf;
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px;
    margin-bottom: 15p
}